.hero {
    background: url('../img/bg/main.jpg') center center / cover no-repeat;
}
.hero_content {
  display: flex;
  align-items: center;
}
.hero__container {
  height: 100%;
  width: 100%;
 display: flex;
 align-items: center;
}
.hero__content-picture {
  display: flex;
}
.hero__subtitle {
  font-size:56px;
  color: #fff;
  line-height: 1;
  @include lifehack;
}
.hero__disc {
  padding-top: 85px;
  margin-left: 20px;
}

