.scroll-down-btn {
    width: 38px;
    height: 22px;
    background: url('../img/icon/arrow-scroll.svg') center center / contain no-repeat;
    display: block;
    position: absolute;
    bottom: 20px;
    left: 50%; 
    transform: translateX(-50%);
    border: none;
    cursor: pointer;
}
